.boton-enviar {
    width: 40%;
    margin: 8px 0;
}

.formcontato {
    background: var(--secondary-color);
    padding-top: 5em;
    padding-bottom: 3em;
}



.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5em 0;

}

.formcontato__input {
    margin: 8px 0;
    height: 3rem;
    border: 0;
}



.formcontato__input::placeholder {
    
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-formcontato__input);
    line-height: 20px;
    /* or 125% */

    display: flex;
    align-items: center;

    /* Preto/50% */

    color: var(--color-texto-secundario);
    padding-left: 5px;
}

.formcontato__subtext {
   
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-formcontato__subtext);
    line-height: 19px;

    /* Preto/100% */

    color: var(--color-texto-secundario);


}

.formcontato__text {
    font-family: var(--font-family-body);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.formcontato__textarea::placeholder {

    font-family: var(--font-family-body);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-formcontato__input);
    line-height: 20px;
    /* or 125% */

    display: flex;
    align-items: center;

    /* Preto/50% */

    color: var(--color-texto-secundario);
    padding-left: 5px;

}

.formcontato__textarea {
    margin-bottom: 1em;
    border: 0;

}

.formcontato__title {
    padding-bottom: 1em;
}

.formcontato__descargarCV{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
/* Boton enviar */
button {
    font-family: inherit;
    font-size: 16px;
    background: var(--boton-color-izq);
    color: var(--letra-boton-color-izq);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

@media screen and (min-width: 0){
    .formcontato__img{
        display: none;
    }
    .formcontato__contacto {
       
        padding-left: 0;
    }
}

@media screen and (min-width: 768px){
    .formcontato__img{
        display: none;
    }

    .formcontato__contacto {
        display: flex;
        flex-direction: row;
        height: 593px;
        padding-left: 2em;
    }
}

@media screen and (min-width: 1024px){
    .formcontato__img{
        display: block;
    }
}

