.container_presentacion {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5rem;

}

.enlace {
    /* margin-right: 25px; */
    margin: 0 8px;

}

.foto {
    margin-right: 2.5vw;
}

.foto img {
    width: 27vw;
    border-radius: 100%;
    height: auto;
}

@media screen and (min-width: 0){
 .container_presentacion{
    flex-direction: column-reverse;

 }
}

@media screen and (min-width: 768px){
    .container_presentacion{
        flex-direction: row;
    
     }
}

@media screen and (min-width: 1024px){
 
}