
.foto {
    margin-right: 2.5vw;
}

.foto img {
    width: 27vw;
    border-radius: 100%;
    height: auto;
}

@media screen and (min-width: 0){
 .container_presentacion{
    flex-direction: column-reverse;

 }

 .container_presentacion {
 
    margin-left: 0rem;
    display: flex;

}
}

@media screen and (min-width: 768px){
    .container_presentacion{
        flex-direction: row;
    
     }

     .container_presentacion {
        display: flex;
        width: 95vw;
        justify-content: space-between;
        align-items: center;
        margin-left: 2.5rem;
    
    }
    .enlace {
        /* margin-right: 25px; */
        margin: 0 8px;
    
    }
}

@media screen and (min-width: 1024px){
 
}