.academic__courses__list img {
    width: 20vw;
    height: 7vh;
}




.experience__description {
    display: flex;
}

.formacion-academica {
    background: var(--secondary-color);
    margin-top: 50px;
}


.formacion-academica h2 {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}



/* celular */
@media screen and (min-width: 0) {
    .academic__courses__item__img {
        background-color: white;
        padding: 0.5rem;
    }

    .academic__courses__list {
        padding: 20px;


        display: flex;
        flex-direction: column;

    }

    .academic__courses__item__img img {

        width: 12rem;
        margin-left: calc((100% - 12rem)/2);

    }

    .academic__courses__item__img {
        margin-left: 0px;
        padding-bottom: 1.5rem;
    }
    .academic__courses__item__title{
        padding-top: 1.3rem;
    }

}




/* ipad */
@media screen and (min-width: 768px) {
    .imagenes-formacion {
        display: flex;
        justify-content: space-around;

    }

    .academic__courses__item__img {

        padding-bottom: 1.5rem;
    }

    .academic__courses__item__img img {

        margin-left: 0px;

    }

}

/* pc */
@media screen and (min-width: 1024px) {
    .imagenes-formacion {
        display: flex;
        justify-content: space-around;
    }

    .academic__courses__list {
        padding: 20px;
        width: 33%;
        margin-left: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .academic__courses__item__img {

        padding-bottom: 1.5rem;
    }

    .academic__courses__item__img img {

        margin-left: 0px;

    }
}