.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 1.5rem 2.1rem;
}

.headerPrincipal-nav {
    display: flex;
    gap: 8px;    
}

.headerPrincipal-nav a:last-child {
    font-weight: 700;    
}

.headerPrincipal-nav-link {

    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 15px;
    color: var(--color-texto-secundario);
}

.headerPrincipal-nav-link:hover, .headerPrincipal-nav-link--contacto:hover{
    color: white;
    background: rgb(108, 170, 242);
    transition: all 400ms ease-in-out 0s;
    border-radius: 10px;
    padding: 1px 15px;
font-size: 15px;
}



.logo {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    color: var(--color-texto-secundario)
}

.logo-imagen {
    margin-right: 0.8rem;
}
/* celular */
@media screen and (min-width: 0){
    .headerPrincipal-nav-link {     
        display:none;
    }
}
/* ipad */
@media screen and (min-width: 768px){
    .headerPrincipal-nav-link {       
        display:none;
    }    
}
/* pc */
@media screen and (min-width: 1024px){
    .headerPrincipal-nav-link {      
        display:flex; 
         
    }   
    .headerPrincipal-nav-link--contacto{
        margin-left: 10px;
    }   
}