




.resumen-enlaces {
    display: flex;
    padding: 5px 5px;

}



.resumen__enlace:hover {
    color: white;
    background: rgb(108, 170, 242);
    transition: all 400ms ease-in-out 0s;
    border-radius: 10px;
    padding: 5px 5px;
    /* margin-right: 10px; */
}





/* celular */
@media screen and (min-width: 0){
    .resumen-Presentacion {
       font-size: 22px;
        line-height: normal;
    
        /* Preto/100% */
    
        color: var(--color-texto-secundario);
        font-weight: 700;
    }
    .resumen__enlace {
        padding: 5px 1px;
        color: var(--color-texto-secundario);
    }
    .enlace{
        font-size: 14px;
        margin-right: 0.5rem;
    }
    .resumen-antecedentes p {
        font-size: 14px;
    }
 
}


/* ipad */
@media screen and (min-width: 768px){
    .resumen-Presentacion {
        font-style: normal;
        font-weight: 700;
        font-size: var(--font-size-resumen);
        line-height: 61px;
    
        /* Preto/100% */
    
        color: var(--color-texto-secundario);
    
    }
    .resumen__enlace {
        padding: 5px 5px;
        color: var(--color-texto-secundario);
    }
    .enlace{
        font-size: 16px;
    }

    .resumen-antecedentes p {
        font-size: var(--font-size-resumen-antecedentes);
    }
}
/* pc */
@media screen and (min-width: 1024px){
    .hero {

        width: 63vw;
    }
}