.detalle-sobremi {
    width: 43rem;

    color: var(--color-texto-secundario);
    font-size: 1rem;

}

.sobre-mi {
    background: var(--secondary-color);
    height: 383px;
    /* padding-left: 100px; */

}



.titulo-sobremi {
    padding-top: 64px;
    font-size: 32px;
    color: var(--color-texto-secundario);

}

@media screen and (min-width: 0){
    .detalle-sobremi {
        width: 100%;
 
    }
    

}

@media screen and (min-width: 768px){
    .sobre-mi p,
.sobre-mi img {
    margin-left: 2.5rem;
    width:auto;
}
}